{% extends "projects/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <h3>New Project</h3>
    <div class="col-lg-12 col-md-12 col-sm-8 col-xs-9 shade-container">
        <div class="col-lg-12 col-md-12 col-sm-9 col-xs-9">
            <!-- control panel -->
            <div class="col-lg-2">
            <input id="csrf_token" type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <!-- <input id="csrf_token" type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"> -->
                    <!-- project name -->
                    <div class="control-group">
                        <label>Project name:</label><br />
                        <input type="text" name="projectName" placeholder="Name" class="input-xlarge" id="project_name" required>
                    </div>

                    <!-- project description -->
                    <div class="control-group">
                        <label>Project description:</label><br />
                        <textarea rows="12" placeholder="Description" id="project_des" required></textarea>
                    </div>

                    <!-- dataset selection -->
                    <label>Select Dataset:</label><br />
                    <div>
                        <label id = 'add_template' style = "display:none;">YES</label>
                        <select id="project_dataset" class="selectpicker" data-live-search="true" data-width="80%" required>
							{% for item in dataset %}
                                <option value = "{{item.id}}">{{ item.name }}</option>
							{% endfor %}
                        </select>
                    </div>

                    <!-- privacy selection -->
                    <div class="control-group">
                        <label>Is this a private project?</label><br />
                        <div class="radio">
                            <label>
                                <input type="radio" name="visability" value="1" checked> Yes
                            </label>
                        </div>
                        <div class="radio" id="visability_no">
                            <label>
                                <input type="radio" name="visability" value="0"> No
                            </label>
                        </div>
                    </div>

                    <!-- save the project -->
                    <div class="control-group">
                        <label>Save the project?</label>
                        <div class="btn-toolbar">
                            <button type="submit" class="btn btn-default btn-sm" id="project_save"><span class="glyphicon glyphicon-floppy-saved"></span> Save</button>
                            <button type="button" class="btn btn-default btn-sm" id="btn_restart"><span class="glyphicon glyphicon-repeat"></span> Restart</button>
                        </div>
                    </div>                                                 
            </div>

            <!-- data view -->
            <div class="col-lg-10">
                <div class="row" id="main_data_preview">
                    <fieldset class="field-border">
                        <legend class="field-border">Data View</legend>
                        <div id="main_table_view">             
                            <table id="data_view" class="display">
                                <!-- TO DO: dynamically generate table head -->
                                <thead id = "dataset_header" class = "hide_this">
                                    <tr>
                                        <th>Doc ID</th>
                                        <th>People</th>
                                        <th>Location</th>
                                        <th>Organization</th>
                                        <th>Phone</th>
                                        <th>Misc</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'common/js/lib/jquery.dataTables.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'common/js/common.js' %}"></script>
{% endblock %}