{% extends "projects/base.html" %}
{% load staticfiles %}
{% block content %}
<input id="csrf_token" type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {%if pCount == 0 %} 
        <script>
            alert("You don't have any private projects, the page will be redirected to project creating page.");
            window.location.replace(window.SERVER_PATH + 'projects/add/');
        </script>
    {%endif%}
	<div class="container-fluid">
		<div class="col-md-2">
			<div>
				<label>Project List</label>
	            <select class="selectpicker" data-live-search="true" data-width="100%" id="vis_sel_project">
                    <option value=""></option>
                    <optgroup label="My Own Project" id="vis_own_project">
                {% for project in projects %}	            
                        <option value="{{project.id}}" {%if project.id|add:'0' = prePid|add:'0' %} selected{%endif%}>{{project.name}}</option>
                {% endfor %}
                </optgroup>
	            <optgroup label="Shared with Me" id="vis_shared_project">
                    {% for project in shareProjects %}	                
	                    <option value="{{project.id}}" {%if project.id|add:'0' = prePid|add:'0' %} selected{%endif%}>{{project.name}}</option>
                    {% endfor %}
                    </optgroup>
	            </select>
			</div>
        	<hr>

			<div>
				<label>Visualization List</label>
	             <select class="selectpicker" data-live-search="true" data-width="100%" id="vis_list" {% if preVisList|length = 0 %}disabled{%endif%}>
                    <option value=""></option>
                    {%for vis in preVisList%}
                        <option value="{{vis.id}}">{{vis.vis_name}}</option>
                    {%endfor%}
	            </select>				
			</div>
			<hr>

			<div class="hide_this" id="vis_name_config">
                <label>Visualization Name</label> 
				<input type="text" id="vis_name" data-toggle="tooltip">
				<hr>
			</div>

            <div id="vis_dim_select"> <!--  class="hide_this" -->
                <label>Dimension List</label>
                <fieldset id="dataDimensionList"></fieldset>
                <hr>
            </div>

			<div id="vis_config_ctrl">
				<input id="btn_new_vis" class="btn btn-info btn-xs" type="button" value="New Vis Config" {%if not prePid %} disabled {% endif %}>
                <input id="btn_save_config" class="btn btn-info btn-xs" type="button" value="Save Config" disabled>
    			<hr>
			</div>

            <div id="vis_ctrl" class="hide_this">
				<label>Visualization Control</label><br />
				<input id="btn_vis_save" class="btn btn-info btn-xs" type="button" value="Save" >
            	<input id="btn_vis_del" class="btn btn-info btn-xs" type="button" value="Delete" >
            	<hr>
            </div>

			<!-- a popup to ask user to confirm the deletion -->
			<div class="modal fade" id="vis_delete_alert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title" id="myModalLabel">Delete This Visualization</h4>
						</div>
						<!-- content -->
						<div class="modal-body">
							<div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this visualization?</div>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-warning" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
							<button type="button" class="btn btn-warning" id="btn_vis_delete"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
						</div>
					</div>
				</div>
			</div>

			<div id="vis_wiki_summary" class="ui-widget-content shade-container">
				<h5 id="vis_wiki_title">Wiki Summary</h5>
				<p id="vis_wiki_text"></p>
			</div>
		</div>

		<div class="col-md-10" id="biset_vis_container">
			<div id="biset_control"></div>
			<div id="biset_canvas"></div>
		</div>
	</div>

	<script type="text/javascript" src="{%static 'vis/js/biset.js'%}"></script>
	<script type="text/javascript" src="{%static 'vis/js/visctrl.js'%}"></script>
	<script type="text/javascript" src="{%static 'vis/js/lib/jquery-ui.min.js'%}"></script>
{% endblock %}