{% extends "projects/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="container-fluid">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default widget shade-container">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-paperclip"></span>
                <h3 class="panel-title">Hit Result</h3>
            </div>
            <div class="panel-body" id="myturk_hit_result">
                <div class="col-md-8">
                    <fieldset class="field-border" id="myturk_result_detail">
                    </fieldset>
                </div>

                <div class="col-md-4" id="myturk_result_form">
                    <div>
                        <label>AWSAccessKeyId:</label>
                        <input class="pull-right" type="text" id="myturk_accesskeyid" value = "">
                    </div>
                    <hr>

                    <div>
                        <label>AWSSecretKey:</label>
                        <input class="pull-right" type="text" id="myturk_secretkey" value = "">
                    </div>
                    <hr>

                    <div>
                        <button id="hit_result_fetch" class="btn btn-success pull-right" type="button">Submit</button>
                    </div>
                    
                </div>
            </div>
            
            <div>
	            <input id="csrf_token" type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
			</div>

            
        </div>
        
<!--         <div id = "turk_result" class="panel panel-default widget shade-container" >
            <div class="panel-heading">
                <span class="glyphicon glyphicon-paperclip"></span>
                Hit Results
            </div>
        </div> -->
    </div>
</div>
<script type="text/javascript" src="{% static 'common/js/lib/jquery.dataTables.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'myturk/js/turk.js' %}"></script>
{% endblock %}